<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>

    <div class="container">
            <div><h1>Login</h1></div>
            <div>
              <form action="{{url_for('login')}}" method = "post">
               <div class="msg">{{ msg }}</div>
               <input type="text" name="username" placeholder="ENTER USERNAME">
               <br>
               <input type="password" name="password" placeholder="ENTER PASSWORD">
               <br>
               <button type="submit">Login</button>
               <br>
               <br>
               </form>
           </div>
           <div><p>Don't have an account! <a href="{{url_for('registration')}}">Registration</a></p></div>
        </div>
    
</body>
</html>